<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2011 Michal Harakal and Michael Kroez

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.wheelmap.android.online"
    android:versionCode="13"
    android:versionName="0.8" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="org.wheelmap.android.app.WheelmapApp" >
        <activity
            android:label="@string/app_name"
            android:name="org.wheelmap.android.ui.StartupActivity"
            android:theme="@style/Theme.IOSched" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="org.wheelmap.android.ui.POIsListActivity"
            android:theme="@style/Theme.IOSched" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_list" />
        </activity>
        <activity
            android:label="@string/title_pois_map"
            android:launchMode="singleTask"
            android:name="org.wheelmap.android.ui.mapsforge.POIsMapsforgeActivity"
            android:theme="@style/Theme.IOSched" >
            <intent-filter >
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_map" />
        </activity>
        <activity
            android:label="@string/title_pois_detail_activity"
            android:name="org.wheelmap.android.ui.POIDetailActivity"
            android:theme="@style/Theme.IOSched" >
            <!-- <intent-filter >
                 // What does this intent filter?
                 <action android:name="android.intent.action.SEND" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="image/*" />
                 </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:scheme="http" android:host="*wheelmap.org" android:pathPrefix="/nodes"></data>
			</intent-filter>
  
        </activity>
        <activity
            android:label="@string/title_pois_map"
            android:name="org.wheelmap.android.ui.POIDetailActivityEditable"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_pois_position_edit"
            android:name="org.wheelmap.android.ui.mapsforge.EditPositionActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_nodetype_edit"
            android:name="org.wheelmap.android.ui.NodeTypeSelectActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_pois_settings"
            android:name="org.wheelmap.android.ui.NewSettingsActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_wheelchair_state"
            android:name="org.wheelmap.android.ui.WheelchairStateActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_search"
            android:name="org.wheelmap.android.ui.SearchActivity"
            android:theme="@style/Theme.IOSched.Transparent" />
        <activity
            android:label="@string/title_login"
            android:name="org.wheelmap.android.ui.LoginActivity"
            android:theme="@style/Theme.IOSched.Transparent" />
        <activity
            android:label="@string/title_info"
            android:name="org.wheelmap.android.ui.InfoActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_legal_notice"
            android:name="org.wheelmap.android.ui.LegalNoticeActivity"
            android:theme="@style/Theme.IOSched" />
        <activity
            android:label="@string/title_pois_detail"
            android:name="org.wheelmap.android.ui.POIDetailActivity"
            android:theme="@style/Theme.IOSched" >

            <!--
                  This filter says that we can view or edit the data of
                 a single note
            -->
            <intent-filter android:label="@string/edit_poi" >
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.wheelmap.pois" />
            </intent-filter>

            <!--
                 This filter says that we can create a new note inside
                 of a directory of notes.
            -->
            <intent-filter >
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.wheelmap.pois" />
            </intent-filter>
        </activity>

        <service android:name="org.wheelmap.android.service.SyncService" />

        <provider
            android:authorities="org.wheelmap.android"
            android:name="org.wheelmap.android.model.POIsProvider" />
        <provider
            android:authorities="org.wheelmap.android.support"
            android:name="org.wheelmap.android.model.SupportProvider" />
    </application>

</manifest>