<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2011 Michal Harakal and Michael Kroez

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<!--
  THIS FILE IS AUTO GENERATED DURING MAVEN BUILD.
  CHANGES HAVE TO BE DONE IN THE resources/android DIRECTORY.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.wheelmap.android.online"
          android:installLocation="auto"
          android:versionCode="341"
          android:versionName="2.0-SNAPSHOT">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="16"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- TODO enable for push -->
    <!-- REQUIRED PERMISSIONS (for Urban Airship GCM)
    android.permission.GET_ACCOUNTS: GCM requires a Google account.
    android.permission.WAKE_LOCK   : Keeps the processor from sleeping when a message is received.
    com.google.android.c2dm.permission.RECEIVE: This app has permission to register with GCM and receive message
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
     -->
    <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name
    <permission android:name="org.wheelmap.android.online.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.wheelmap.android.online.permission.C2D_MESSAGE" />   -->
    <!-- The two elements above ensure that only this application can receive the messages and registration result -->

    <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name
    <permission android:name="org.wheelmap.android.online.permission.UA_DATA" android:protectionLevel="signature" />
    <uses-permission android:name="org.wheelmap.android.online.permission.UA_DATA" />                        -->
    <!-- The two elements above ensure that only this application has access to the Urban Airship provider -->


    <uses-feature
            android:name="android.hardware.location"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>

    <application
            android:hardwareAccelerated="true"
            android:name="org.wheelmap.android.app.WheelmapApp"
            android:icon="@drawable/ic_launcher_market"
            android:label="@string/app_name"
            android:logo="@drawable/title_logo_shadow"
            android:theme="@style/Theme.wheelmap_fixed">
        <activity
                android:name="org.wheelmap.android.activity.StartupActivity"
                android:label="@string/app_name"
                android:theme="@style/Holo.Theme.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:uiOptions="splitActionBarWhenNarrow"
                android:screenOrientation="portrait"
                android:name="org.wheelmap.android.activity.MainSinglePaneActivity"
                android:label="">
        </activity>
        <activity
                android:uiOptions="splitActionBarWhenNarrow"
                android:name="org.wheelmap.android.activity.MainMultiPaneActivity"
                android:label="">
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.POIDetailActivity"
                android:screenOrientation="portrait"
                android:label="">
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.WebViewNewsActivity"
                android:label="">
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.POIPermaLinkActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.Sherlock.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW">
                </action>

                <category android:name="android.intent.category.DEFAULT">
                </category>
                <category android:name="android.intent.category.BROWSABLE">
                </category>

                <data
                        android:host="*wheelmap.org"
                        android:pathPrefix="/nodes/"
                        android:scheme="http">
                </data>
            </intent-filter>
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.POIDetailEditableActivity"
                android:windowSoftInputMode="adjustPan"
                android:label="@string/title_editor"
                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.PictureActivity"
                android:label=""
                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.FilterActivity"
                android:label="@string/title_pois_settings"
                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.WheelchairStateActivity"

                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.WrapperActivity"

                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.InfoActivity"
                android:label="@string/title_info"
                android:theme="@style/Theme.Wheelmap.SubActivity"/>
        <activity
                android:name="org.wheelmap.android.activity.LegalNoticeActivity"
                android:label="@string/title_legal_notice"
                android:theme="@style/Theme.Wheelmap.SubActivity"/>

        <activity
                android:screenOrientation="portrait"
                android:name="org.wheelmap.android.activity.DashboardActivity"
                android:label=""
                android:theme="@style/Holo.Theme.Light.NoActionBar">
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.ChooseCategoryActivity"
                android:label="">
        </activity>
        <activity
                android:name="org.wheelmap.android.activity.LoginActivity"
                android:windowSoftInputMode="adjustPan"
                android:theme="@style/Theme.Wheelmap.SubActivity"
                android:label="">
        </activity>

        <activity
                android:name="net.hockeyapp.android.UpdateActivity"/>


        <service android:name="org.wheelmap.android.service.RestService"
                 android:exported="false"/>

        <provider
                android:name="org.wheelmap.android.model.POIsProvider"
                android:authorities="@string/wheelmapprovider"
                android:readPermission="org.wheelmap.android.pois.Read"
                android:writePermission="org.wheelmap.android.pois.Write"/>
        <provider
                android:name="org.wheelmap.android.model.SupportProvider"
                android:authorities="@string/supportprovider"
                android:readPermission="org.wheelmap.android.support.Read"
                android:writePermission="org.wheelmap.android.support.Write"/>
        <meta-data android:name="com.crashlytics.ApiKey"
                   android:value="82852bdccfc411decbd4ba6dd1d309f0beae2875"/>

        <!-- TODO enable for push -->
        <!-- MODIFICATION REQUIRED
            - Set or Remove the parent activity
            - For more customization details, see com.urbanairship.actions.LandingPageActivity
        <activity android:name="com.urbanairship.actions.LandingPageActivity" android:parentActivityName="de.stratmann.activities.StratmannActivity" android:exported="false">

            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="de.stratmann.activities.StratmannActivity" />

            <intent-filter>
                <action android:name="com.urbanairship.actions.SHOW_LANDING_PAGE_INTENT_ACTION" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         -->
        <!-- REQUIRED for Urban Airship GCM
        MODIFICATION REQUIRED - Use your package name as the category
        REQUIRED for detecting when the application is upgraded so it can request a new GCM ID
        <receiver android:name="com.urbanairship.CoreReceiver" />

        <receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.wheelmap.android.online" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
              -->

        <!-- Required for Actions
        <activity android:name="com.urbanairship.actions.ActionActivity" />
        <service android:name="com.urbanairship.actions.ActionService" />

        <service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service" />
        <service android:name="com.urbanairship.analytics.EventService" android:label="Event Service" />
        <service android:name="com.urbanairship.actions.ActionService" />
         -->

        <!-- This is required for persisting preferences related to push and location -->
        <!-- MODIFICATION REQUIRED - Replace "com.urbanairship.push.sample" with your package name
        <provider android:name="com.urbanairship.UrbanAirshipProvider" android:authorities="org.wheelmap.android.online.urbanairship.provider" android:permission="org.wheelmap.android.online.permission.UA_DATA" android:exported="true" android:multiprocess="true" />
        --><!-- END OF REQUIRED ITEMS -->


        <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
        <!-- Replace the receiver below with your package and class name
        <receiver android:name="org.wheelmap.android.push.GCMIntentReceiver" /> -->

    </application>

</manifest>
