<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2011 Michal Harakal and Michael Kroez

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wheelmap.android.online"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="0.9" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="org.wheelmap.android.app.WheelmapApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/title_logo"
        android:theme="@style/Theme.wheelmap" >
        <activity
            android:name="org.wheelmap.android.activity.StartupActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.wheelmap.android.activity.MainSinglePaneActivity"
            android:label="" >
        </activity>
        <activity
            android:name="org.wheelmap.android.activity.POIDetailActivity"
            android:label="@string/title_pois_detail_activity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.BROWSABLE" >
                </category>

                <data
                    android:host="*wheelmap.org"
                    android:pathPrefix="/nodes/"
                    android:scheme="http" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name="org.wheelmap.android.activity.POIDetailEditableActivity"
            android:label="@string/title_pois_map" />
        <activity
            android:name="org.wheelmap.android.activity.NewSettingsActivity"
            android:label="@string/title_pois_settings" />
        <activity
            android:name="org.wheelmap.android.activity.WheelchairStateActivity"
            android:label="@string/title_wheelchair_state" />
        <activity
            android:name="org.wheelmap.android.activity.InfoActivity"
            android:label="@string/title_info" />
        <activity
            android:name="org.wheelmap.android.activity.LegalNoticeActivity"
            android:label="@string/title_legal_notice" />

        <service android:name="org.wheelmap.android.service.SyncService" />

        <provider
            android:name="org.wheelmap.android.model.POIsProvider"
            android:authorities="org.wheelmap.android"
            android:readPermission="org.wheelmap.android.pois.Read"
            android:writePermission="org.wheelmap.android.pois.Write" />
        <provider
            android:name="org.wheelmap.android.model.SupportProvider"
            android:authorities="org.wheelmap.android.support"
            android:readPermission="org.wheelmap.android.support.Read"
            android:writePermission="org.wheelmap.android.support.Write" />
    </application>

</manifest>